.card{
  display: flex;
  flex-direction: row;
}

.notfound{
  color: red;
  font-weight: 600;
}
.cardInfo{
  width: 100%;
}
.cardInfoImage{
  margin-top: 50px;
}

.info-card{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
}
