<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitFile()">

    <div class="info-card">
      <div class="cardInfo">
        <h5 class="info-title">Nome do Arquivo :
          {{info.name}}</h5>
        <p class="info-text">Ultima Modificação : {{info.lastModified | date}}</p>
        <p class="info-text">Tamanho: {{info.size | sizeValue}}</p>
      </div>
    </div>

    <div class="form-group mt-4">
      <button class="btn btn-danger btn-block" [disabled]="!this.form.value.archive">Enviar</button>
    </div>
    <div class="form-group mt-4" >
      <input type="file" class="custom-file-input" (change)="uploadFile($event)">
    </div>
    <div class="notfound m-2" *ngFor="let res of resUpload"
          [ngStyle]="{'color': res.case[index].color }">
          {{res.case[index].phrase}}
        </div>

    <div class="progress form-group mt-4" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
          {{progress}}
        </div>
    </div>

  </form>
</div>
