<div class="container">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">File Name: {{file?.name}}</h5>
      <p class="card-text">Last modified: {{file?.lastModified | date }}</p>
    </div>
  </div>
  <div class="mb-3 mt-3">
    <button class="btn btn-primary" (click)="upload()"  [disabled]="!file">Enviar</button>
  </div>
  <div class="mb-3 mt-3">
    <input class="form-control" type="file" id="formFile" #fileInput (change)="onFileInput(fileInput.files)"/>
  </div>

  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      [ngStyle]="{ width: progress + '%'}"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ progress }}
    </div>
  </div>
</div>
